body {
  background-image: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
}

.index-jumbotron {
  margin-top: 20%;
  text-align: center;
}

.article-card {
  margin-top: 50px !important;
}

.auth-form {
  margin-top: 200px !important;
}
