<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <form method="POST" action="/auth/signup" class="auth-form">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input class="form-control" id="firstName" name="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName">Second Name</label>
          <input class="form-control" id="secondName" name="lastName" placeholder="Second name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
